body {
  background-color: #f7ffe5;
}

h1,
h2,
h3 {
  color: #c4d7b2;
  background-color: black;
}

p {
  /* color: white; */
  line-height: 1.5;
  letter-spacing: 1px;
}

span {
  color: green;
}

#list2 {
  color: #d3d04f;
}

.mark {
  background-color: greenyellow;
}
